extends layout

block content
    .card.col-sm-10
        .card-body
            .col-lg-12
                form(method="post")
                    h2 Crear
                    .form-group
                        label(for='exampleInputEmail1') Nombre
                        input#exampleInputEmail1.form-control(type='text', aria-describedby='emailHelp', placeholder="Nombre...", name="nombre")
                    .form-group
                        label(for='exampleInputPassword1') Direccion
                        input#exampleInputPassword1.form-control(type='text', placeholder='Direccion...', name="direccion")
                    .form-group
                        label(for='exampleInputPassword1') Telefono
                        input#exampleInputPassword2.form-control(type='text', placeholder='Telefono...', name="telefono")
                    .form-check
                        input.form-check-input(type='checkbox', name="activo" value='true')
                        label.form-check-label(for='exampleCheck1') Activo
                    br
                    //.form-group
                    //    label(for='exampleInputPassword1') Activo
                    //    input.form-control(type='checkbox', name="activo" value='true')
                    button.btn.btn-primary(type='submit') Actualizar
